<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="${#request.getContextPath()}+'/'">
    <link th:href="@{jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{jquery/jquery-1.11.1-min.js}"></script>
    <script type="text/javascript" th:src="@{jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
    <link th:href="@{jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}" type="text/css"
          rel="stylesheet"/>
    <script type="text/javascript"
            th:src="@{jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript"
            th:src="@{jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{jquery/bs_pagination/jquery.bs_pagination.min.css}">
    <script type="text/javascript" th:src="@{jquery/bs_pagination/jquery.bs_pagination.min.js}"></script>
    <script type="text/javascript" th:src="@{jquery/bs_pagination/en.js}"></script>

    <script type="text/javascript">

        //默认情况下取消和保存按钮是隐藏的
        var cancelAndSaveBtnDefault = true;

        $(function () {
            $("#remark").focus(function () {
                if (cancelAndSaveBtnDefault) {
                    //设置remarkDiv的高度为130px
                    $("#remarkDiv").css("height", "130px");
                    //显示
                    $("#cancelAndSaveBtn").show("2000");
                    cancelAndSaveBtnDefault = false;
                }
            });

            $("#cancelBtn").click(function () {
                //显示
                $("#cancelAndSaveBtn").hide();
                //设置remarkDiv的高度为130px
                $("#remarkDiv").css("height", "90px");
                cancelAndSaveBtnDefault = true;
            });

            $(".remarkDiv").mouseover(function () {
                $(this).children("div").children("div").show();
            });

            $(".remarkDiv").mouseout(function () {
                $(this).children("div").children("div").hide();
            });

            $(".myHref").mouseover(function () {
                $(this).children("span").css("color", "red");
            });

            $(".myHref").mouseout(function () {
                $(this).children("span").css("color", "#E6E6E6");
            });
        });

    </script>

</head>
<body>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("#editActivity").click(function () {
            var id = [[${activity.getId()}]]
            $.ajax({
                url: "workbench/activity/getActivityAndUserListByActivityId",
                data: {"id": id},
                type: "post",
                success: function (data) {
                    var html = ""
                    $.each(data.userList, function (i, n) {
                        html += "<option value=" + n.id + ">" + n.name + "</option>";
                    })
                    $("#edit-marketActivityOwner").html(html);
                    $("#edit-id").val(data.activity.id);
                    $("#edit-marketActivityOwner").val(data.activity.owner)
                    $("#edit-ActivityName").val(data.activity.name)
                    $("#edit-startTime").val(data.activity.startDate)
                    $("#edit-endTime").val(data.activity.endDate)
                    $("#edit-cost").val(data.activity.cost)
                    $("#edit-describe").val(data.activity.description)
                    $("#editActivityModal").modal("show")
                }
            })
        })
        $("#updateActivityBtn").click(function () {
            var owner = $.trim($("#edit-marketActivityOwner").val())
            var id = $.trim($("#edit-id").val())
            var name = $.trim($("#edit-ActivityName").val())
            var startDate = $.trim($("#edit-startTime").val())
            var endDate = $.trim($("#edit-endTime").val())
            var cost = $.trim($("#edit-cost").val())
            var description = $.trim($("#edit-describe").val())
            $.ajax({
                url: "workbench/activity/updateActivity",
                type: "get",
                data: {
                    "id": id,
                    "owner": owner,
                    "name": name,
                    "startDate": startDate,
                    "endDate": endDate,
                    "cost": cost,
                    "description": description
                },
                success: function (data) {
                    if (data) {
                        alert("更新成功")
                        $("#editActivityModal").modal("hide");
                        window.location.reload()
                    } else {
                        alert("更新失败")
                    }
                }
            })
        })
        $("#deleteActivity").click(function () {
            if (confirm("你确定要删除吗？")) {
                $.ajax({
                    url: "workbench/activity/deleteActivity",
                    type: "get",
                    data: {
                        "id": [[${activity.getId()}]]
                    },
                    success: function (data) {
                        if (data) {
                            alert("删除成功")
                            window.location.href = [[@{
                                workbench / activity / index
                            }
                        ]]
                        } else {
                            alert("删除失败")
                        }
                    }
                })
            }
        })
    })

</script>
<!-- 修改市场活动备注的模态窗口 -->
<div class="modal fade" id="editRemarkModal" role="dialog">
    <%-- 备注的id --%>
    <input type="hidden" id="remarkId">
    <div class="modal-dialog" role="document" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改备注</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="edit-describe" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10" style="width: 81%;">
                            <textarea class="form-control" rows="3" id="noteContent"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="updateRemarkBtn">更新</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改市场活动的模态窗口 -->
<div class="modal fade" id="editActivityModal" role="dialog">
    <div class="modal-dialog" role="document" style="width: 85%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">修改市场活动</h4>
                <input type="hidden" id="edit-id"/>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label for="edit-marketActivityOwner" class="col-sm-2 control-label">所有者<span
                                style="font-size: 15px; color: red;">*</span></label>
                        <div class="col-sm-10" style="width: 300px;">
                            <select class="form-control" id="edit-marketActivityOwner">

                            </select>
                        </div>
                        <label for="edit-ActivityName" class="col-sm-2 control-label">名称<span
                                style="font-size: 15px; color: red;">*</span></label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input type="text" class="form-control" id="edit-ActivityName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="edit-startTime" class="col-sm-2 control-label ">开始日期</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input type="text" class="form-control time" id="edit-startTime">
                        </div>
                        <label for="edit-endTime" class="col-sm-2 control-label ">结束日期</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input type="text" class="form-control time" id="edit-endTime">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="edit-cost" class="col-sm-2 control-label">成本</label>
                        <div class="col-sm-10" style="width: 300px;">
                            <input type="text" class="form-control" id="edit-cost">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="edit-describe" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-10" style="width: 81%;">
                            <textarea class="form-control" rows="3" id="edit-describe"></textarea>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="updateActivityBtn">更新</button>
            </div>
        </div>
    </div>
</div>

<!-- 返回按钮 -->
<div style="position: relative; top: 35px; left: 10px;">
    <a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left"
                                                                         style="font-size: 20px; color: #DDDDDD"></span></a>
</div>

<!-- 大标题 -->
<div style="position: relative; left: 40px; top: -30px;">
    <div class="page-header">
        <h3 th:text="'市场活动-'+${activity.getName()}"></h3>
        <p>活动时间:<span th:text="${activity.getStartDate()+' ~ '+activity.getEndDate()}"></span></p>
    </div>
    <div style="position: relative; height: 50px; width: 250px;  top: -72px; left: 700px;">
        <button type="button" class="btn btn-default" id="editActivity"><span
                class="glyphicon glyphicon-edit"></span> 编辑
        </button>
        <button type="button" class="btn btn-danger" id="deleteActivity"><span class="glyphicon glyphicon-minus"></span>
            删除
        </button>
    </div>
</div>

<!-- 详细信息 -->
<div style="position: relative; top: -70px;">
    <div style="position: relative; left: 40px; height: 30px;">
        <div style="width: 300px; color: gray;">所有者</div>
        <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.getOwner()}">zhangsan</b>
        </div>
        <div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">名称</div>
        <div style="width: 300px;position: relative; left: 650px; top: -60px;"><b
                th:text="${activity.getName()}">发传单</b></div>
        <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
        <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
    </div>

    <div style="position: relative; left: 40px; height: 30px; top: 10px;">
        <div style="width: 300px; color: gray;">开始日期</div>
        <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.getStartDate()}">2020-10-10</b>
        </div>
        <div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">结束日期</div>
        <div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${activity.getEndDate()}">2020-10-20</b>
        </div>
        <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
        <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
    </div>
    <div style="position: relative; left: 40px; height: 30px; top: 20px;">
        <div style="width: 300px; color: gray;">成本</div>
        <div style="width: 300px;position: relative; left: 200px; top: -20px;"><b
                th:text="${activity.getCost()}">4,000</b></div>
        <div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -20px;"></div>
    </div>
    <div style="position: relative; left: 40px; height: 30px; top: 30px;">
        <div style="width: 300px; color: gray;">创建者</div>
        <div style="width: 500px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.getCreateBy()}">zhangsan&nbsp;&nbsp;</b>&nbsp;&nbsp;<small
                style="font-size: 10px; color: gray;" th:text="${activity.getCreateTime()}">2017-01-18 10:10:10</small>
        </div>
        <div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
    </div>
    <div style="position: relative; left: 40px; height: 30px; top: 40px;">
        <div style="width: 300px; color: gray;">修改者</div>
        <div style="width: 500px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.getEditby()}">zhangsan&nbsp;&nbsp;</b>&nbsp;&nbsp;<small
                style="font-size: 10px; color: gray;" th:text="${activity.getEdittime()}">2017-01-19 10:10:10</small>
        </div>
        <div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
    </div>
    <div style="position: relative; left: 40px; height: 30px; top: 50px;">
        <div style="width: 300px; color: gray;">描述</div>
        <div style="width: 630px;position: relative; left: 200px; top: -20px;">
            <b th:text="${#strings.abbreviate(activity.getDescription(),activity.getDescription().length())}">
            </b>
        </div>
        <div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        showActivityRemarkList()
        $("#remarkBody").on("mouseover", ".remarkDiv", function () {
            $(this).children("div").children("div").show();
        })
        $("#remarkBody").on("mouseout", ".remarkDiv", function () {
            $(this).children("div").children("div").hide();
        })
        $("#saveActivityRemarkBtn").click(function () {
            $.ajax({
                url: "workbench/activityRemark/saveActivityRemarkBtn",
                data: {
                    "activityId": [[${activity.getId()}]],
                    "noteContent": $.trim($("#remark").val())
                },
                type: "get",
                dataType: "json",
                success: function (data) {
                    alert("添加成功")
                    if (data.success) {
                        var html = "";
                        html += '<div id="' + data.activityRemark.id + '" class="remarkDiv" style="height: 60px;">';
                        html += '<img title="' + data.activityRemark.createBy + '" src=[[@{image/user-thumbnail.png}]] style="width: 30px; height:30px;">';
                        html += '<div style="position: relative; top: -40px; left: 40px;">';
                        html += '<h5 id="h"+data.activityRemark.id>' + data.activityRemark.noteContent + '</h5>';
                        html += '<font color="gray">市场活动</font> <font color="gray">-</font> <b>' + [[${activity.getName()}]] + '</b>';
                        html += '<small id="s"+data.activityRemark.id style="color: gray;">' + (data.activityRemark.createTime) + '由' + (data.activityRemark.createBy) + '</small>';
                        html += '<div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">';
                        html += '<a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-edit" onclick="editActivityRemark(\'' + data.activityRemark.id + '\')" style="font-size: 20px; color: red;"></span></a>';
                        html += '&nbsp;&nbsp;&nbsp;&nbsp;';
                        html += '<a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-remove" onclick="deleteActivityRemark(\'' + data.activityRemark.id + '\')" style="font-size: 20px; color: red;"></span></a>';
                        html += '</div>';
                        html += '</div>';
                        html += '</div>';
                        showActivityRemarkList();
                        $("#remark").val("")
                    } else {
                        alert("添加备注失败")
                    }
                }
            })
        })
        //重新书写修改方法！！！
        $("#updateRemarkBtn").click(function () {
            var noteContent = $.trim($("#noteContent").val());
            var id = $("#remarkId").val();
            var activityId = [[${activity.getId()}]]
            /*alert("noteContent"+noteContent)
            alert("id"+id)
            alert("activityId"+activityId)*/
            $.ajax({
                url: "workbench/activityRemark/updateActivityRemark",
                data: {
                    "id": id,
                    "activityId": activityId,
                    "noteContent": noteContent
                },
                dataType: "json",
                type: "get",
                success: function (data) {

                    if (data.success) {
                        //window.location.reload()
                        showActivityRemarkList()
                        alert("更新成功")
                        $("#editRemarkModal").modal("hide")
                        $("#noteContent").val("")
                    } else {
                        alert("更新失败")
                    }
                }
            })
        })
    })

    function editActivityRemark(id) {
        $.ajax({
            url: "workbench/activityRemark/getActivityRemarkById",
            data: {
                "id": id,
            },
            dataType: "json",
            type: "get",
            success: function (data) {
                if (data.success) {
                    $("#noteContent").val(data.activityRemark.noteContent)
                    $("#remarkId").val(data.activityRemark.id)
                    $("#editRemarkModal").modal("show");
                } else {
                    alert("获取信息失败")
                }
            }
        })

    }

    function showActivityRemarkList() {
        $.ajax({
            url: "workbench/activityRemark/getActivityRemarkByActivityId",
            data: {
                "activityId": [[${activity.getId()}]]
            },
            type: "get",
            dataType: "json",
            success: function (data) {

                var html = "";
                $.each(data, function (i, n) {
                    html += '<div id="' + n.id + '" class="remarkDiv" style="height: 60px;">';
                    html += '<img title="' + n.createBy + '" src=[[@{image/user-thumbnail.png}]] style="width: 30px; height:30px;">';
                    html += '<div style="position: relative; top: -40px; left: 40px;">';
                    html += '<h5 id="h"+n.id>' + n.noteContent + '</h5>';
                    html += '<font color="gray">市场活动</font> <font color="gray">-</font> <b>' + [[${activity.getName()}]] + '</b>';
                    html += '<small id="s"+n.id style="color: gray;">' + (n.editFlag == 0 ? n.createTime : n.editTime) + '由' + (n.editFlag == 0 ? n.createBy : n.editBy) + '</small>';
                    html += '<div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">';
                    html += '<a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-edit" onclick="editActivityRemark(\'' + n.id + '\')" style="font-size: 20px; color: red;"></span></a>';
                    html += '&nbsp;&nbsp;&nbsp;&nbsp;';
                    html += '<a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-remove" onclick="deleteActivityRemark(\'' + n.id + '\')" style="font-size: 20px; color: red;"></span></a>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';

                })
                //<small style="color: gray;">'+n.editFlag==0?n.createTime:n.editTime+"由"+n.editFlag==0?n.createBy:n.editBy+'</small>
                $("#showActivityRemarkList").html(html)
            }
        })
    }

    function deleteActivityRemark(id) {
        if (confirm("你确定要删除这条备注吗？")) {
            $.ajax({
                url: "workbench/activityRemark/deleteActivityRemark",
                data: {
                    "id": id
                },
                type: "get",
                dataType: "text",
                success: function (data) {
                    if (data) {
                        alert("删除成功")
                        $("#" + id).remove();
                    } else {
                        alert("删除失败")
                    }
                }
            })
        }
    }
</script>
<!-- 备注 -->
<div id="remarkBody" style="position: relative; top: 30px; left: 40px;">
    <div id="activityRemark" class="page-header">
        <h4>备注</h4>
    </div>
    <div id="showActivityRemarkList">

    </div>

    <div id="remarkDiv" style="background-color: #E6E6E6; width: 870px; height: 90px;">
        <form role="form" style="position: relative;top: 10px; left: 10px;">
            <textarea id="remark" class="form-control" style="width: 850px; resize : none;" rows="2"
                      placeholder="添加备注..."></textarea>
            <p id="cancelAndSaveBtn" style="position: relative;left: 737px; top: 10px; display: none;">
                <button id="cancelBtn" type="button" class="btn btn-default">取消</button>
                <button type="button" id="saveActivityRemarkBtn" class="btn btn-primary">保存</button>
            </p>
        </form>
    </div>
</div>
<div style="height: 200px;"></div>
</body>
</html>